<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="umleditor"
         point="org.eclipse.ui.editors">
      <editor
            class="org.xiaobo.uml.editor.UmlEditor"
            icon="icons/type.gif"
            default="false"
            name="UMLEditor"
            id="org.xiaobo.uml.editor"
            extensions="uml"/>
   </extension>

</plugin>
